td{
    border: 1px solid burlywood;
    alignment: center;
    alignment-baseline: center;
}
table{
    border: chocolate 1px solid;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}
h1{
    text-align: center;
}
input{
}
